body {
    background-color: #000;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Títulos */
h1 {
    font-size: 32px;
    margin: 15px 0 5px 0;
    text-align: center;
}

h2 {
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

/* Área do jogo responsiva */
#area-jogo {
    position: relative;
    height: 90vh;        
    aspect-ratio: 9 / 16;
    max-width: 500px;
    border: 2px solid white;
    overflow: hidden;
}

/* Palavras */
.palavra-caindo {
    position: absolute;
    font-size: 18px;
    color: white;
}

/* Jogador */
#jogador {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

/* Tiro */
.tiro {
    position: absolute;
}

/* Nave inimiga */
.nave-inimiga {
    position: absolute;
}

/* Sprites */
.sprite-player {
    width: 32px;
    height: auto;
}

.sprite-enemy {
    width: 28px;
    height: auto;
}

.sprite-bullet {
    width: 10px;
    height: auto;
}

#jogador img,
.nave-inimiga img,
.tiro img {
    pointer-events: none;
    user-select: none;
}

img {
    image-rendering: pixelated;
}
